# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE settings
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Matplotlib output
*.png
*.jpg
*.jpeg

# Jupyter Notebooks
.ipynb_checkpoints/
